{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
    {% for recipe in recipes %}
        <h3>{{ recipe.title }}</h3>
    {% endfor %}
{% endblock %}
