{% extends "layout.html.twig" %}

{% block content %}
    <style>
        form {
            max-width: 70vw;
            margin: auto;
        } 

    </style>

    {{ form_start(form) }}

        <button id="btn_ingredient" type="button" class="btn btn-primary">add</button>
        {{ form_row(form.ingredients)}}
    
    {{ form_end(form) }}

    <script src="{{asset('js/index.js')}}"></script>
{% endblock %}
