{% extends 'layout.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block content %}
<style>

</style>

<h2><a href="{{ path('app_user_create_recipe')}}">Create recipe</a></h2>

{% for recipe in recipes %}

    <div class="card" style="width: 18rem;">
        <img src="{{ asset('card_directory/'~ recipe.cardPicture)}}" class="card-img-top" alt="...">
  <div class="card-body">
      <p class="card-text">{{ recipe.title }}</p>
  </div>
</div>
    
{% endfor %}

{% endblock %}
